* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 4em;
    background-color: rgb(238, 238, 238);
    font: 12px/1.5 Helvetica, sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.card {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0.2em rgb(0, 0, 0, 0.3);
}

.picture {
    overflow: scroll;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.description {
    padding: 2em;
}

.description p {
    padding: 1em 0;
}

.card h2 {
    font: 1em/1.2 Georgia, serif;
    font-weight: bold;
}

a {
    background-color: rgb(0, 153, 0);
    color: #fff;
    text-decoration: none;
    float: right;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}

@media (min-width: 500px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 800px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1300px) {
    body {
        font-size: 23px;
    }
}