* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    gap: 1em;
}

div {
    flex: 0 0 60px;
    width: 60px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3em;

}

div:hover {
    width: 300px;
    flex: 0 0 400px;
    background-color: #000;
}
img:hover {
    width: 95%;
}
