@media (max-width: 600px) {
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-header {
        height: auto;
        flex-direction: column;
        padding: 10px 0;
    }

    .home-container01 {
        width: 100%;
        padding: 0 48px;
    }

    .home-nav {
        padding-left: 0;
    }

    .navigation-links-text1 {
        margin-left: 0;
        padding: 5px 0;
    }

    .navigation-links-nav {
        flex-direction: column;
        align-items: start;
    }

    .blog-post-card3-blog-post-card {
        flex-direction: column;
    }

    .blog-post-card3-image {
        width: 100%;
    }

    .home-stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-container06 {
        flex-direction: column;
        align-items: center;
    }

    .home-container08 {
        flex-direction: column;
    }

    .home-container07 {
        align-items: center;
    }

    .home-text03 {
        text-align: center;
    }

    .home-container08 {
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    .home-container09, .home-container10 {
        width: 100%;
        height: auto;
        margin-right: 0;
    }
}