@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

html {
    font: 16px/1.5 Cambria, serif;
}

body, button, input {
    font: inherit;
    background-color: rgb(228, 223, 223);
}

h2 {
    margin-bottom: 7px;
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    outline: none;
    display: inline-block;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 3em;
    padding: 0.2em 0.9em;
    margin: 0;
    background: rgb(228, 223, 223);
    color: #000;
}

.fill {
    background: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}

.button.icon i{
    margin-right: 0.3em;
}

.hover:hover {
    background: rgb(0, 102, 0);
    border-color: rgb(0, 102, 0);
    color: rgb(251, 251, 251);
}